@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@400;700&display=swap');


body{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  background-color: #d6e2f0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: 'Outfit';

}


.main{
  background-color: #FFF;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 250px;
  height: 410px;
  border-radius: 15px;
  text-align: center;
  padding: 15px;
}



/* .qr{
  height: 270px; 
  margin-top: 10px;
  border-radius: 15px;
  
} */

.qr{
  width: 250px;
  border-radius: 10px;
}

.header{
  width: 220px;
  font-weight: 700;
}

.text{
  font-size: 14px;
  width: 220px;
  margin-top: 2px;
  color: #7b879d;
  font-weight: 400;
   
}

.attribution{
  font-size: 11px;
}

.attribution a{
  color: #3e52a3;  
}